<div class="row mt-4 ml-4">
  <div class="col-lg-12">
    <h2>Projects List</h2>
    <hr>
    <form class="form-row mb-5" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="col-md-4">
        <input type="text" placeholder="{{'placeholder.searchInput' | translate}}" class="form-control col-md-11"
               id="projectNameSearch" formControlName="projectInfo" name="projectInfo">
      </div>
      <div class="col-md-2">
        <select type="text" class="form-control col-md-8" id="projectStatusSearch" formControlName="status"
                name="status">
          <option class="disabled" value="">{{'placeholder.status' | translate}}</option>
          <option *ngFor="let s of status" [ngValue]="s">{{ projectStatusEnumToKey(s) | translate }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary mr-5" type="submit">{{'actions.searchProject' | translate}}</button>
        <button class="btn ml-5 text-primary" type="button" (click)="onReset()">{{'actions.resetSearch' | translate}}</button>
      </div>
    </form>
    <ng-container *ngIf="!isNotFound">
      <table class="table table-borderless table-hover">
        <thead>
        <tr>
          <th scope="col-1"></th>
          <th scope="col-auto">
            <div class="d-flex justify-content-end">{{'table.number' | translate}}</div>
          </th>
          <th scope="col-4">{{'table.name' | translate}}</th>
          <th scope="col-auto">{{'table.status' | translate}}</th>
          <th scope="col-auto">{{'table.customer' | translate}}</th>
          <th scope="col-auto">
            <div class="d-flex justify-content-center">{{'table.startDate' | translate}}</div>
          </th>
          <th scope="col-1">
            <div class="d-flex justify-content-center">{{'table.delete' | translate}}</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let project of projectList, let i = index">
          <tr>
            <th scope="row">
              <div class="d-flex justify-content-center">
                <input type="checkbox" class="mt-1" style="width: 15px; height: 15px"
                       [disabled]="isDisabled(project.status)" (click)="onChecked($event, project.id)">
              </div>
            </th>
            <td routerLink="/project/edit/{{project.id}}" id="projectNumber">
              <div class="d-flex justify-content-end">{{project.projectNumber}}</div>
            </td>
            <td>{{project.projectName}}</td>
            <td>{{projectStatusEnumToKey(project.status) | translate}}</td>
            <td>{{project.customer}}</td>
            <td>
              <div class="d-flex justify-content-center">{{project.startDate}}</div>
            </td>
            <td>
              <div *ngIf="project.status === ProjectStatus.NEW" class="d-flex justify-content-center">
                <a (click)="onDelete(project.id)"><i class="bi bi-trash3-fill" style="color: red; cursor: pointer"></i></a>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr id="info-selected" id="tr-end" *ngIf="listCheckedProjectId.length > 1">
          <td class="table-info" colspan="7">
            <div class="d-flex justify-content-sm-between">
              <span class="text-primary">{{this.listCheckedProjectId.length}} {{'itemSelected' | translate}}</span>
              <span class="text-danger">
                  <a style="color: red; cursor: pointer" (click)="onDeleteListProject()">{{'deleteSelectedItem(s)' | translate}} <i
                    class="bi bi-trash3-fill"></i></a>
                </span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
    <h2 *ngIf="isNotFound" class="d-flex justify-content-center align-items-center">{{'searchEmptyResults' | translate}}</h2>

    <!--      <nav class="d-flex justify-content-end">-->
    <!--        <ul class="pagination">-->
    <!--          <li class="page-item">-->
    <!--            <a class="page-link" href="#" aria-label="Previous">-->
    <!--              <span aria-hidden="true">&laquo;</span>-->
    <!--              <span class="sr-only">Previous</span>-->
    <!--            </a>-->
    <!--          </li>-->
    <!--          <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
    <!--          <li class="page-item"><a class="page-link" href="#">2</a></li>-->
    <!--          <li class="page-item"><a class="page-link" href="#">3</a></li>-->
    <!--          <li class="page-item">-->
    <!--            <a class="page-link" href="#" aria-label="Next">-->
    <!--              <span aria-hidden="true">&raquo;</span>-->
    <!--              <span class="sr-only">Next</span>-->
    <!--            </a>-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--      </nav>-->

  </div>
</div>
