<nav class="navbar navbar-expand-sm navbar-light" style="background: #E0E0E0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/Images/logo_elca.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Project Information Management
    </a>

    <div class="nav navbar-nav navbar-right">
      <ul>
        <li class="d-inline"><a href="#">EN</a></li>
        |
        <li class="d-inline"><a href="#">FR</a></li>
      </ul>
    </div>
    <div class="nav navbar-nav navbar-right">
      <li><a href="#">Help</a></li>
    </div>
    <div class="nav navbar-nav navbar-right">
      <li><a href="#">Log out</a></li>
    </div>
  </div>
</nav>

