<nav class="navbar navbar-expand-sm navbar-light bg-light" style="border-bottom: 1px solid #ced4da">
  <div class="container-fluid">
    <a class="navbar-brand">
      <div class="row">
        <a routerLink="/">
          <img src="../../assets/Images/logo_elca.png" width="50" height="50" class="mr-4" alt="">
        </a>
        <h3 class="d-flex align-items-end">Project Information Management</h3>
      </div>
    </a>

    <div>
      <span><a (click)="switchLanguage('en')" class="link">EN</a></span> |
      <span class="d-inline"><a (click)="switchLanguage('fr')" class="link">FR</a></span>
    </div>
    <div class="nav navbar-nav navbar-right">
      <li><a class="link">Help</a></li>
    </div>
    <div class="nav navbar-nav navbar-right">
      <li><a class="text-secondary">Log out</a></li>
    </div>
  </div>
</nav>

