<div class="row">
  <div class="col-lg-10">
    <h2>New Project</h2>
    <hr>
    <div class="container">
      <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
        <div class="form-group row">
          <label for="projectNumber" class="col-sm-2 col-form-label">
            Project Number <span class="text-danger">*</span>
          </label>
          <div class="col-md-3">
            <input
              type="number"
              class="form-control" id="projectNumber"
              formControlName="projectNumber"
              name="projectNumber"
              >
          </div>
          <div class="col-md-5">
<!--              <span-->
<!--                *ngIf="!projectNumber.valid && projectNumber.touched"-->
<!--                class="text-danger">The project number already existed. Please select a different project number</span>-->
          </div>
        </div>
        <div class="form-group row">
          <label for="projectName" class="col-sm-2 col-form-label">
            Project Name <span class="text-danger">*</span></label>
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="projectName"
              formControlName="projectName"
              name="projectName"
              >
          </div>
        </div>

        <div class="form-group row">
          <label for="customer" class="col-sm-2 col-form-label">
            Customer <span class="text-danger">*</span>
          </label>
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="customer"
              formControlName="customer"
              name="customer">
          </div>
        </div>
        <div class="form-group row">
          <label for="group" class="col-sm-2 col-form-label">
            Group <span class="text-danger">*</span>
          </label>
          <div class="col-md-5">
            <select
              class="form-control"
              id="group"
              formControlName="group"
              name="group">
              <option *ngFor="let g of groups" [ngValue]="g">{{ g }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="members" class="col-sm-2 col-form-label">
            Members
          </label>
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="members"
              formControlName="member"
              name="member">
          </div>
        </div>
        <div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">
            Status <span class="text-danger">*</span>
          </label>
          <div class="col-md-5">
            <select
              class="form-control"
              id="status"
              formControlName="status"
              name="status">
              <option *ngFor="let s of status" [ngValue]="s">{{ s }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="startDate" class="col-sm-2 col-form-label">
            Start Date <span class="text-danger">*</span>
          </label>
          <div class="col-md-3">
            <input
              type="date"
              class="form-control"
              id="startDate"
              formControlName="startDate"
              name="startDate">
          </div>

          <label for="endDate" class="col-sm-2 col-form-label">
            End Date
          </label>
          <div class="col-md-3">
            <input
              type="date"
              class="form-control"
              id="endDate"
              formControlName="endDate"
              name="endDate">
          </div>
        </div>
        <hr>

        <div class="mt-4 mb-4 d-flex justify-content-end">
          <button class="btn mr-5" style="background: #B9B9B9" (click)="onCancel()">
            Cancel
          </button>
          <button
            type="submit"
            class="btn text-white"
            style="background: #2F85FA"
            >
            Create Project
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg"></div>
</div>

