<div class="row mt-4 ml-4">
  <div class="col-lg-9">
    <div class="container">
      <h2 *ngIf="!isEdited">
        {{ 'form.new' | translate }}
      </h2>
      <h2 *ngIf="isEdited">
        {{ 'form.edit' | translate }}
      </h2>
      <div class="col-md-10 no-padding">
        <hr>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
        <ng-container *ngIf="isAlertMandatoryError">
          <div class="alert alert-danger alert-dismissible fade show col-md-10" role="alert">
            {{'form.mandatoryFields' | translate}}
            <button type="button" class="close" aria-label="Close" (click)="closeAlertError()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </ng-container>
        <div class="form-group row d-flex align-items-center mt-5">
          <label for="projectNumber" class="col-sm-2 col-form-label">
            {{'form.projectNumber' | translate}}<span class="text-danger">*</span>
          </label>
          <div class="col-md-2">
            <input
              type="number"
              class="form-control" id="projectNumber"
              formControlName="projectNumber"
              (input)="onInputProjectNumber()"
              name="projectNumber"
            >
          </div>
          <div class="col-md-6">
            <span class="text-danger" *ngIf="isAlertProjectNumberError && !isEdited">{{'form.projectNumberError' | translate}}</span>
          </div>
        </div>
        <div class="form-group row mt-5">
          <label for="projectName" class="col-sm-2 col-form-label">
            {{'form.projectName' | translate}} <span class="text-danger">*</span></label>
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="projectName"
              formControlName="projectName"
              name="projectName"
            >
          </div>
        </div>

        <div class="form-group row mt-5">
          <label for="customer" class="col-sm-2 col-form-label">
            {{'form.customer' | translate}} <span class="text-danger">*</span>
          </label>
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="customer"
              formControlName="customer"
              name="customer">
          </div>
        </div>
        <div class="form-group row mt-5">
          <label for="group" class="col-sm-2 col-form-label">
            {{'form.group' | translate}} <span class="text-danger">*</span>
          </label>
          <div class="col-md-3">
            <select
              class="form-control"
              id="group"
              formControlName="group"
              name="group">
              <option *ngFor="let g of groups" [ngValue]="g.leaderVisa">{{ g.leaderVisa }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row mt-5">
          <label for="members" class="col-sm-2 col-form-label">
            {{'form.members' | translate}}
          </label>
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="members"
              formControlName="member"
              name="member">
          </div>
        </div>
        <div class="form-group row" *ngIf="inValidVisa.length !== 0">
          <div class="col-sm-2">
          </div>
          <div class="col-md-8">
            <span class="text-danger">{{'visasNotExist'| translate}}:
              {{listInvalidVisa}}
            </span>
          </div>
        </div>

        <div class="form-group row mt-5">
          <label for="status" class="col-sm-2 col-form-label">
            {{'form.status' | translate}} <span class="text-danger">*</span>
          </label>
          <div class="col-md-3">
            <select
              class="form-control"
              id="status"
              formControlName="status"
              name="status">
              <option *ngFor="let s of status" [ngValue]="s">{{ projectStatusEnumToKey(s) | translate  }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row mt-5">
          <label for="startDate" class="col-sm-2 col-form-label">
            {{'form.startDate' | translate}} <span class="text-danger">*</span>
          </label>
          <div class="col-md-3">
            <input
              type="date"
              placeholder="dd-mm-yyyy"
              class="form-control"
              id="startDate"
              formControlName="startDate"
              name="startDate">
          </div>

          <label for="endDate" class="col-sm-2 col-form-label d-flex justify-content-end">
            {{'form.endDate' | translate}}
          </label>
          <div class="col-md-3">
            <input
              type="date"
              placeholder="dd-mm-yyyy"
              class="form-control"
              id="endDate"
              formControlName="endDate"
              name="endDate">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-7"></div>
          <div class="col-md-3">
            <span class="text-danger" *ngIf="isInValidDateEnd">{{'form.endDateError' | translate}}</span>
          </div>
        </div>
        <div class="mt-5 col-md-10 no-padding">
          <hr>
        </div>
        <div class="mt-5 d-flex justify-content-end">
          <button class="btn mr-5" style="background: #B9B9B9" (click)="onCancel()" type="button">
            {{'actions.cancel' | translate}}
          </button>
          <button
            type="submit"
            class="btn text-white"
            style="background: #2F85FA">
            <ng-container *ngIf="!isEdited">
              {{'actions.createProject' | translate}}
            </ng-container>
            <ng-container *ngIf="isEdited">
              {{'actions.editProject' | translate}}
            </ng-container>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

