<ul class="nav flex-column">
  <li class="nav-item"
  >
    <h5>
      <a class="nav-link pb-3"
         routerLink="/project/project-list"
         style="cursor: pointer">
        Projects List </a>
    </h5>

  </li>
  <h5 class="nav-item">
    <a class="nav-link pb-3"
       style="color: black">
      New</a>
  </h5>
  <li class="nav-item"

  >
    <a class="nav-link"
       [routerLinkActive]="'router-link-active'"
       style="cursor: pointer; color: gray"
       routerLink="/project/new">Project</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: gray" routerLink="customer">Customer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: gray" routerLink="supplier">Supplier</a>
  </li>

</ul>
