<div class="container">
  <div class="row">
    <div class="col-5 d-flex justify-content-center align-items-center h-50">
      <img src="../../assets/Images/error.png" style="max-height: 400px" alt="error">
    </div>
    <div class="col-5 d-flex align-items-center">
      <div class="row">
        <h3> {{'error.message' | translate}}</h3>
        <h3>{{'error.please' | translate}} <span class="text-danger">{{'error.contact' | translate}}</span> </h3>
        <h3>{{'error.or' | translate}} <a routerLink="/" class="text-primary" style="cursor: pointer">{{'error.back' | translate}}</a> </h3>
      </div>
    </div>
  </div>

</div>
